<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MMORPG Board{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   
    <!-- Header -->
    <header class="header">
        <!-- nav -->
        <div class="nav container">
            <a href="{% url 'post' %}" class="logo">MMORPG <span>Board</span></a>
            <!-- logo btn -->
            <!-- <a href="{% url 'login' %}" class="login">LOGIN</a> -->
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"  class="login popup-login">LOGOUT</a>
            {% else %}
            <a href="#popup" class="login popup-login">LOGIN</a>
            {% endif %}
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">{% block titlesection %}MMORPG Board{% endblock %}</h2>
            <span class="home-subtitle">{% block subtitle %}Welcome to MMORPG Board{% endblock %}</span>
        </div>
    </section>
    {% block category %}
    <div class="post-filter container">
        <span class="filter-item active-filter" data-filters="all">Все</span>
        <span class="filter-item" data-filters="tanks">Танки</span>
        <span class="filter-item" data-filters="healers">Хилы</span>
        <span class="filter-item" data-filters="dd">ДД</span>
        <span class="filter-item" data-filters="traders">Торговцы</span>
        <span class="filter-item" data-filters="guildmasters">Гильдмастеры</span>
        <span class="filter-item" data-filters="questgivers">Квестгиверы</span>
        <span class="filter-item" data-filters="blacksmiths">Кузнецы</span>
        <span class="filter-item" data-filters="letherworkers">Кожевники</span>
        <span class="filter-item" data-filters="alchemists">Зельевары</span>
        <span class="filter-item" data-filters="spellcasters">Мастера заклинаний</span>
    </div>
    {% endblock %}

  
    
    {% block content %}
    {% endblock %}
    {% include 'modal.html' %}
    <!-- Footer -->
   
        <div class="footer container">
            <p>&#169; MMORPG Board. All rights reserved.</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-pinterest'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
     
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>