{% extends 'base2.html' %}

{% block title %} {{ post.title }} {% endblock %}


{% block titlesection %}{{ post.title }}{% endblock %}

{% block subtitle %}
Publication date: {{ post.date|date }}
{% endblock %}
{% block content %}
{% block category %}
{% endblock %}
<section class="post container">
    <div class="header-content post-container">
        {{ post.text }}
        <p>{{ post.content|safe }}</p>
        <div class="profile post">     
            <a class="profile-img" href="{% url 'user_post_list' username=post.author.username %}">{{ post.author.username|first|upper }}</a>
            <span class="profile-name">{{ post.author }}</span>     
        </div>
    </div>
        
</section>

{% include 'bulletin_board/response.html' %}  

{% endblock %}

<!-- 
<h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        <div class="content_post">{{ post.content|safe }}</div>
        <p>Category: {{ post.category }}</p>
        
        <div class="responses">
            <h2>Responses:</h2>
            {% for response in post.responses.all %}
                <p>{{ response.text }}</p>
                <p>Comment Author: {{ response.author }}</p>
            {% endfor %}
        </div>
    </div> -->