<form method="post" action="">
    {% csrf_token %}
    <!-- Заголовок -->
    <div class="form-group">
        <label for="id_title">Заголовок:</label>
        {{ form.title }}
    </div>
    <!-- Текст -->
    <div class="form-group">
        <label for="id_text">Текст:</label>
        {{ form.text }}
    </div>
    <!-- Контент (CKEditor) -->
    <div class="form-group">
        <label for="id_content">Контент:</label>
        {{ form.media}}
        {{ form.content }}
    </div>
    <!-- Категория -->
    <div class="form-group">
        <label for="id_category">Категория:</label>
        {{ form.category }}
    </div>
    <!-- Кнопка отправки -->
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
