
{% extends 'base2.html' %}

{% block title %} User Posts {% endblock %}


{% block titlesection %} Posts by {{ username }}{% endblock %}

{% block subtitle %}
Total ads: {{ user_post_count }}
{% endblock %}
{% block content %}
{% block category %}
{% endblock %}<section class="post container">
   
    {% for post in posts %}
    <div class="post-box {{ post.category}}">
        <h2 class="category">{{ post.get_category_display }}</h2>
        <a href="{% url 'post_detail' post.pk %}" class="post-title">{{ post.title }}</a>
        <p class="post-content">{{ post.content|striptags|truncatechars:200|safe }}</p>

        <p class="post-date">{{ post.date|date }}</p>

        <!-- profile -->
        <div class="profile">     
            <a class="profile-img" href="{% url 'user_post_list' username=post.author.username %}">{{ post.author.username|first|upper }}</a>
            <span class="profile-name">{{ post.author }}</span>     
        </div>
    </div>
    {% empty %}
    <span class="no-posts">No posts yet.</span>
    {% endfor %}

</section>


{% endblock %}
